.my-card{
    background: #222;
    text-align: center;
    border-radius: 15px;
    padding: 35px 25px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.6s ease;
  box-sizing: border-box;
}
.my-card:hover{
    /* background: crimson; */
    background: rgb(177, 48, 189);
}
.box{
    transition: all 0.3s ease;
}
.my-card:hover .box{
    transform: scale(1.05);
}

.text{
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.title-style:after {
    content: "";
    width: 74px;
    height: 3px;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #fde930;
}